POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=sports_betting

# Para TypeORM CLI (migraciones)
TYPEORM_ENTITIES=src/**/*.entity.ts
TYPEORM_MIGRATIONS=src/migrations/*.ts
TYPEORM_MIGRATIONS_DIR=src/migrations

# solo uso de prueba
JWT_SECRET=MrGaNkhhlQtMyaZfBxhNXxrnVyUCXsFRRwOhoShDBJJZwzPnhfLdorToWiMGQMsI

PORT=3000